
html {
    background-image: url('https://images.unsplash.com/photo-1492931307820-62fa5a68e0df?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80');
    color: blanchedalmond;
}

body {
    margin: 0;
}

h3 {
    display: flex;
    margin: 1%;
    padding: 3%;
}

.container {
    margin-top: 6%;
    width: auto;
    height: auto;
    background: rgba(255, 165, 0, 0.0);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container-grid {
    display: grid;
}

.content {
    display: flex;
    background-color: #a379c9;
    width: 75%;
    margin: 3%;
    padding: 4%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.float-link {
    background-color: rgba(117, 114, 222, 0.5);
    font-size: 2em;
    padding-left: .25em;
    padding-right: .25em;
    margin-bottom: 1.5em;
}

.menu {
    display: flex;
    justify-content: space-around;
    width: 95%;
}

/* navbar START */
.nav-container {
    background: #7572DE;
    margin: 0;
    padding: 1.5%;
    position: fixed;
    top: 0;
    width: 100%;
}

ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
}   

li.nav-item {
    display: inline;
    padding: 3%;
}

a {
    color: blanchedalmond;
    text-decoration: none;
} 
/* navbar END */


