body {
    background-color: #dfd1ff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1.fullname {
        font-family: "Londrina Outline", sans-serif;
        font-size: 300%;
        margin-top: .1em;
        margin-bottom: .2em; 
        color: #6229DB;
}

