body {
    background-image: url(../imgs/grid-ibkg2.png);
    background-repeat: repeat;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: auto;
    width: 50%;

}

h1 {
        font-family: "Londrina Outline", sans-serif;
        font-size: 300%;
        margin-top: .1em;
        margin-bottom: .2em; 
}

h2 {
    color: #8653F2;
}


footer {
    padding-top: 4em;
}

footer img {
    width: 6%;
    height: auto;
}

#title-header {
    margin-bottom: 2.5em;
}

#bare-navbar {
    background-color: #8C9EFF;
}

#bare-navbar ul  {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: .5em;
    margin: 0;
}

#about {
    padding-top: 1em;
}

.body-container {
    display: flex;
    flex-direction: column;
    row-gap: em;
}

.main-sec {
    margin-top: 10em;
}

