a {
    color: #8B3777;
    text-decoration: none;
}

body {
    background-color: #dfd1ff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1.fullname {
        font-family: "Londrina Outline", sans-serif;
        font-size: 325%;
        margin: .5em;
        color: #6229DB;
}

li {
    list-style-type: none;
}

main {
    display: grid;
    grid-template-columns: 2fr 1fr;   
    grid-column: auto auto;
    height: 100vh;
    font-size: 125%;
    padding: auto;
}

.content {
    width: 70%;
    padding-left: 2em;
}
.layout {
    /* display: grid;
    grid-template-columns: auto;
    height: 100vh; */
    padding: 2em;
}
.nav-item {
    font-weight: bold;
    padding: 1em;
}