a {
    color: #8B3777;
    text-decoration: none;
}

body {
    background-color: #dfd1ff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 2%;
}
header {
    grid-column: 1 / 2;
}
li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
main {
    grid-column: 1 / 2;
    font-size: 125%;
    padding-bottom: 80px;
}
nav {
    grid-row: 1 / span 2;
    grid-column: 2;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 30%;
    z-index: 1000;
}

.content {
    padding-left: 2em;
    max-width: 65%;
}
.content-section {
    display: none;
}
.content-section:target {
    display: block;
}
.content-section:target ~ .content-section {
    display: none;
}
.fullname {
    font-family: "Londrina Outline", sans-serif;
    font-size: 325%;
    color: #6229DB;
}
.fullname a:visited {
    color: #6229DB;
}
.layout {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto;
}
.nav-item {
    font-weight: bold;
    font-size: 150%;
}
.site-nav {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}