---
title: blogs home
layout: collection-home.njk
collection: blogs
---

An archive of blogs I've published.

<ul>
{% for blog in collections.blogs | reverse %}
<li>{{ blog.data.dateString }} ---- <a href="{{blog.url}}">{{ blog.data.title }}</a></li>
{% endfor %}
</ul>