<details id="this-site">
    <summary>about this site</summary>
    <p> This blog was hand-coded by me using 11ty and GitHub Pages. It'll grow slowly as I learn new tricks. Here's the <a href="https://github.com/winnieepm/winnieepm.github.io">code repository</a>.</p>
    <p>Special thanks to Jeremy Boggs for helping find my way in the code at times I thought I had to start over, and to Brandon Walsh for insisting websites are important.</p>
</details>