<details id="this-site">
    <summary aria-label="About this site">about this site</summary>
    <p>This site is built on <a href="https://www.11ty.dev/">11ty</a> and hosted through <a href="https://docs.github.com/en/pages">GitHub Pages</a>. Access its <a href="https://github.com/winnieepm/winnieepm.github.io">code repository</a>.</p>
    <p>Special thanks to Jeremy Boggs for helping find my way in the code at times I thought I had to start over, and to Brandon Walsh for insisting blogging is essential.</p>
</details>