<div id="blog-samples">
    {% for post in collections.blogs %}
    <div class="blog">
            <div class="blog-content">
                <h3>{{ post.data.title }}</h3>
                <p>{{ post.data.logline }}</p>
                <a href="{{ post.url }}">Full blog link</a>
                <!--og styles taken from https://github.com/ammonshepherd/simplebooth -->
            </div>
    </div>
    {% endfor %}
</div>

{% for post in collections.blogs %}
{% if loop.index > 1 %}
<a class="card-grid-url" src="/blogs/">View all blog projects...</a>
{% endif %}
{% endfor %}