 {# update to iterate over files in _collections/blog #}


<div id="blog-samples">
    {% for post in collections.blog %}
    <div class="blog">
            <div class="blog-content">
                <h3>{{ post.data.title }}</h3>
                <p>{{ post.data.logline }}</p>
                <a href="{{ post.data.permalink }}">Full blog link</a>

                {# styles taken from https://github.com/ammonshepherd/simplebooth #}
            </div>
    </div>
    {% endfor %}
</div>
   
   

    