<div id="blogs">
    <div class="blog">
            <img alt="octopus pictures" src="/public/images/photobooth.webp">
            <div class="blog-content">
                <h2>SimpleBooth</h2>
                <p>Super Simple Photobooth software written in Python for use with a Raspberry Pi.</p>
                <a href="https://github.com/ammonshepherd/simplebooth">GitHub Link <span class="material-symbols-outlined">output</span></a>
            </div>
    </div>

    <div class="blog">
            <img alt="octopus pictures" src="/public/images/photobooth.webp">
            <div class="blog-content">
                <h2>SimpleBooth</h2>
                <p>Super Simple Photobooth software written in Python for use with a Raspberry Pi.</p>
                <a href="https://github.com/ammonshepherd/simplebooth">GitHub Link <span class="material-symbols-outlined">output</span></a>
            </div>
    </div>

    <div class="blog">
            <img alt="octopus pictures" src="/public/images/photobooth.webp">
            <div class="blog-content">
                <h2>SimpleBooth</h2>
                <p>Super Simple Photobooth software written in Python for use with a Raspberry Pi.</p>
                <a href="https://github.com/ammonshepherd/simplebooth">GitHub Link <span class="material-symbols-outlined">output</span></a>
            </div>
    </div>

    <div class="blog">
            <img alt="octopus pictures" src="/public/images/photobooth.webp">
            <div class="blog-content">
                <h2>SimpleBooth</h2>
                <p>Super Simple Photobooth software written in Python for use with a Raspberry Pi.</p>
                <a href="https://github.com/ammonshepherd/simplebooth">GitHub Link <span class="material-symbols-outlined">output</span></a>
            </div>
    </div>

    <div class="blog">
            <img alt="octopus pictures" src="/public/images/photobooth.webp">
            <div class="blog-content">
                <h2>SimpleBooth</h2>
                <p>Super Simple Photobooth software written in Python for use with a Raspberry Pi.</p>
                <a href="https://github.com/ammonshepherd/simplebooth">GitHub Link <span class="material-symbols-outlined">output</span></a>
            </div>
    </div>

    <div class="blog">
            <img alt="octopus pictures" src="/public/images/photobooth.webp">
            <div class="blog-content">
                <h2>SimpleBooth</h2>
                <p>Super Simple Photobooth software written in Python for use with a Raspberry Pi.</p>
                <a href="https://github.com/ammonshepherd/simplebooth">GitHub Link <span class="material-symbols-outlined">output</span></a>
            </div>
    </div>

    <div class="blog">
            <img alt="octopus pictures" src="/public/images/photobooth.webp">
            <div class="blog-content">
                <h2>SimpleBooth</h2>
                <p>Super Simple Photobooth software written in Python for use with a Raspberry Pi.</p>
                <a href="https://github.com/ammonshepherd/simplebooth">GitHub Link <span class="material-symbols-outlined">output</span></a>
            </div>
    </div>

    <div class="blog">
            <img alt="octopus pictures" src="/public/images/photobooth.webp">
            <div class="blog-content">
                <h2>SimpleBooth</h2>
                <p>Super Simple Photobooth software written in Python for use with a Raspberry Pi.</p>
                <a href="https://github.com/ammonshepherd/simplebooth">GitHub Link <span class="material-symbols-outlined">output</span></a>
            </div>
    </div>

    <div class="blog">
            <img alt="octopus pictures" src="/public/images/photobooth.webp">
            <div class="blog-content">
                <h2>SimpleBooth</h2>
                <p>Super Simple Photobooth software written in Python for use with a Raspberry Pi.</p>
                <a href="https://github.com/ammonshepherd/simplebooth">GitHub Link <span class="material-symbols-outlined">output</span></a>
            </div>
    </div>
</div>