{% if page.url == "/"%}
<header>
    <h1 class="my-name"> <a href="/">winnie e. pérez martínez</a></h1>
</header>

{% elif collection %}
<header>
    <h1 class="initial"><a href="/">w.</a></h1>
</header>
<header>
    <h1 class="section-title"><a href="/{{ collection }}/">{{ collection }}</a></h1>
</header>

{% else %}
<header>
    <h1 class="initial"><a href="/">w.</a></h1>
</header>
{% endif %}