    <ul class="site-nav">
        <li class="nav-item"><a href="#about">about</a></li>
        <li class="nav-item"><a href="#projects">projects</a></li>
        <li class="nav-item"><a href="#blog">blog</a></li>
        <li class="nav-item"><a href="#cv">c.v.</a></li>
    </ul>
