<div class="site-nav">
    <ul>
        <li class="nav-item"><a href="#">about</a></li>
        <li class="nav-item"><a href="#">c.v.</a></li>
        <li class="nav-item"><a href="#">projects</a></li>
        <li class="nav-item"><a href="#">blog</a></li>
    </ul>
</div>