    <div class="collection-container">
        {% for project in collections.projects %}
            <div class="project thumbnail">
                <h3>{{ project.data.title }}</h3>
                <p>{{ project.data.logline }}</p>
                <a href="{{ project.url }}">Full project link</a>
                <!--og styles taken from https://github.com/ammonshepherd/simplebooth -->
            </div>
        {% endfor %}
    </div>

{% for project in collections.projects %}
{% if loop.index > 1 %}
<a class="card-grid-url" src="/blogs/">View all blog projects...</a>
{% endif %}
{% endfor %}