<div id="project-grid">

    
        <div class="project-card">
                <div class="project-card-header"></div>
                <div class="project-card-content">
                    <h3>Project One</h3>
                    <p>A short description of this project and what it does or explores.</p>
                    <a href="#">View Project <span class="material-symbols-outlined">output</span></a>
                    <div class="project-card-glow"></div>
                </div>
        </div>

    <div class="project-card">
        <div class="project-card-header"></div>
        <div class="project-card-content">
            <h3>Project Two</h3>
            <p>A short description of this project and what it does or explores.</p>
            <a href="#">View Project <span class="material-symbols-outlined">output</span></a>
        </div>
    </div>

    <div class="project-card">
        <div class="project-card-header"></div>
        <div class="project-card-content">
            <h3>Project Three</h3>
            <p>A short description of this project and what it does or explores.</p>
            <a href="#">View Project <span class="material-symbols-outlined">output</span></a>
        </div>
    </div>

</div>
