<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fascinate+Inline&family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Jost:ital,wght@0,100..900;1,100..900&family=Story+Script&display=swap" rel="stylesheet">
</head>

<body class="{{ 'home' if page.url == '/' else page.url | replace('/', ' ') | trim }}">
    <div class="layout">
        {% include "partials/header.njk" %}
       <main>
        {% block content %}{{ content | safe }}{% endblock %}
        </main>
        <nav>
            <ul class="main-nav">
                {# <li class="nav-item{% if page.url.startsWith('/about/') %} active {% endif %}"><a href="/about/">about</a></li> #}
                <li class="nav-item{% if page.url.startsWith('/projects/') %} active {% endif %}"><a href="/projects/">projects</a></li>
                <li class="nav-item{% if page.url.startsWith('/blogs/') %} active {% endif %}"><a href="/blogs/">blogs</a></li>
                <li class="nav-item"><a href="#cv">c.v.</a></li>
            </ul>
        </nav>
    </div>
</body>
</html>