<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fascinate+Inline&family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Jost:ital,wght@0,100..900;1,100..900&family=Story+Script&display=swap" rel="stylesheet">
</head>

<body>
    <div class="layout">
        <header>
            <h1 class="fullname"> <a href="index.html">{{ title or "HOME PAGE" }}</a></h1>
        </header>
       <main>
        {{ content | safe }}
        {% block content %} 
            
            <section id="about" class="content-section"> 
                {% renderFile "./about.md"  %}
            </section>
            <section id="projects" class="content-section">
                {% renderFile "./projects.md"  %}
            </section>
            <section id="blog" class="content-section">
                {% include "_includes/partials/blog.njk"  %}
            </section>
            <section id="cv" class="content-section">
                {% renderFile "./cv.md" %}
            </section>
        {% endblock %}
        </main>
        <nav>
            {% include "partials/nav.njk" %}
        </nav>
    </div>
</body>
</html>