{# HOME PAGE CONTENT #}

{% extends "layouts/base.njk" %}

{% block header %}
<header>
    <h1 class="fullname"> <a href="/index.html">{{ header }}</a></h1>
</header>
{% endblock %}

{% block content %}
<div>{{ professional_summary }}</div>
<section id="about" class="content-section">
    {% renderFile "./about-anchor.md"  %}
</section>
<!-- UNDER DEVELOPMENT
<section id="projects" class="content-section">
    {% renderFile "./projects-anchor.md"  %}
    {% include "_includes/partials/project-card.njk" %}
    {# <a class="card-grid-url" src="#">View all blog projects...</a> #}
</section> -->
<section id="blogs" class="content-section">
    {% renderFile "./blogs-anchor.md" %}
    {% include "_includes/partials/blog-card.njk"  %}
</section>
<section id="cv" class="content-section">
    {% renderFile "./cv-anchor.md" %}
</section>
{% endblock %}

{% block nav %}
<ul class="main-nav">
    <li class="nav-item"><a href="#about">about</a></li>
    <li class="nav-item"><a href="#projects">projects</a></li>
    <li class="nav-item"><a href="#blogs">blogs</a></li>
    <li class="nav-item"><a href="#cv">c.v.</a></li>
</ul>
{% endblock %}